@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');

$footerSize:100px;
body{
  //margin-top: -60px;
  overflow-x: hidden;
}
html,body,#root{
  font-family: 'Sarabun', sans-serif;
  height: 100%;
}
.container{
  padding: 10px;
}
.container-wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: $footerSize;
}
.footer{
  margin-top: -$footerSize;
  height: $footerSize;
  background: #495057;
}
.title{
  //color:#ffffff;
}
table.sticky{
  position: relative;
  th{
    z-index: 1;
    background: white;
    position: sticky;
    top: 42px;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.4);
  }
}

#search{
  background: white;
  position: sticky;
  top:5px;
  z-index: 1;
  background: white;
}

.react-confirm-alert-body{
  h1{
    font-size: 20px !important;
  }
}
