.myFade {
  &-enter {
    opacity: 0;
    transition: all;
  }

  &-enter-active {
    opacity: 1;
    transition: all 300ms;
  }

  &-exit {
    opacity: 1;
    transition: all;
  }

  &-exit-active {
    opacity: 0;
    transition: all 300ms;
  }
}

.animGlow {
  border-radius: 50px;
  animation: glow 1s infinite alternate;
}


@media (min-width:768px) {
  @keyframes glow {
    from {
      border: 1px solid #9ff1ff00;
      box-shadow: 0 0 10px -8px #ffffffcc;
    }
    to {
      border: 1px solid #9ff1ff;
      box-shadow: 0 0 15px 10px #aeecf4cc;
    }
  }
}

@media (max-width:767px) {
  @keyframes glow {
    from {
      box-shadow: 0 0 10px -8px #ffffffcc;
    }
    to {
      box-shadow: 0 0 15px 10px #57fb49cc;
    }
  }
}
